header {
    padding: 10px 15px;
}

.container-topo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-topo img {
    width: 150px;
}

.menu a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}